.wrapper {
	margin: 0 auto;
	max-width: 1000px;
}
.container {
	position: relative;
	padding: 20px 10px;
	text-align: center;
}
body {
	background-repeat: no-repeat;
	background-size: auto;
	background-size: cover;
	animation-name: fadeIn;
	animation-timing-function: ease-in;
    animation-duration: 5s;
}
h1 {
	display: block;
	border: none;
	padding: 45px 0px;
	margin: 40px 0 0 0;
	font: normal 60px/1 'Baloo';
	letter-spacing: .1em;
	color: #ffd969;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 2px 0 #fff, 1px 3px 0 #fff, -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d, 1px 3px 1px #1b233d, 2px 3px 1px #1b233d, 0px 4px 1px #1b233d, 1px 4px 1px #1b233d, 2px 4px 1px #1b233d, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px;
	box-sizing: content-box;
	transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}
p {
	display: block;
	box-sizing: content-box;
	padding: 10px;
	border: none;
	font: bold 45px/1 'Baloo';
	color: #fff;
	text-shadow: -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d, 1px 3px 1px #1b233d, 2px 3px 1px #1b233d, 0px 4px 1px #1b233d, 1px 4px 1px #1b233d, 2px 4px 1px #1b233d, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px;
}
#questionText {
	font-size: 45px;
}
#timeText {
	font-size: 35px;
	text-shadow: 1px 2px 0 #9E164B, 1px 3px 0 #9E164B, -1px 0 1px #9E164B, 0 1px 1px #9E164B, -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d, 1px 3px 1px #1b233d, 2px 3px 1px #1b233d, 0px 4px 1px #1b233d, 1px 4px 1px #1b233d, 2px 4px 1px #1b233d, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px;
}
#results {
    font-family: 'Baloo';
    font-size: 35px;
    color: #E3B942;
    letter-spacing: .2em;
	text-shadow: 1px 1px 0 #fff, 1px 2px 0 #fff, -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d, 1px 3px 1px #1b233d, 2px 3px 1px #1b233d, 0px 4px 1px #1b233d, 1px 4px 1px #1b233d, 2px 4px 1px #1b233d, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 1px 0 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d 0 1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d -1px -1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px, #1b233d 1px 1px 10px;
	padding: 20px;
	margin: -30px 0;
}
button {
	margin: 10px 0;
	width: 200px;
	color: #fff;
	text-shadow: -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d;
	font: normal 30px/1 'Baloo';
	box-sizing: content-box;
	padding: 8px;
	background-color: #FFBCA7;
	border: 1px solid #1b233d;
	border-radius: 10px;
	box-shadow: -1px 0 1px #1b233d, 0 1px 1px #1b233d, -1px -1px 1px #1b233d, 1px -1px 1px #1b233d, 2px -1px 1px #1b233d, 1px 1px 1px #1b233d, 2px 1px 1px #1b233d, 1px 2px 1px #1b233d, 2px 2px 1px #1b233d;
	cursor: pointer;
	overflow: hidden;
}
#start {
	margin-top: 50px;
	background-color: #DFFFC9;
}
button:hover {
	box-shadow: -1px 0 1px #bc2f66, 0 1px 1px #bc2f66, -1px -1px 1px #bc2f66, 1px -1px 1px #bc2f66, 2px -1px 1px #bc2f66, 1px 1px 1px #bc2f66, 2px 1px 1px #bc2f66, 1px 2px 1px #bc2f66, 2px 2px 1px #bc2f66, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px;
}
button:active, :focus {
	box-shadow: 0 0 5px 5px #75FEB8 inset;
	border: none;
	outline: none;
}
img {
	width: 500px;
	border-radius: 8px;
	margin: 10px auto;
}
#imgCorrect {
	border-top: 25px solid #1b233d;
	border-bottom: 25px solid #1b233d;
}
#imgCorrect:hover {
	box-shadow: -1px 0 1px #75FEB8, 0 1px 1px #75FEB8, -1px -1px 1px #75FEB8, 1px -1px 1px #75FEB8, 2px -1px 1px #75FEB8, 1px 1px 1px #75FEB8, 2px 1px 1px #75FEB8, 1px 2px 1px #75FEB8, 2px 2px 1px #75FEB8, #75FEB8 1px 1px 10px, #75FEB8 1px 1px 10px, #75FEB8 1px 1px 10px, #75FEB8 1px 1px 10px;
}
#imgWrong {
	border-top: 25px solid #1b233d;
	border-bottom: 25px solid #1b233d;
}
#imgWrong:hover {
	box-shadow: -1px 0 1px #bc2f66, 0 1px 1px #bc2f66, -1px -1px 1px #bc2f66, 1px -1px 1px #bc2f66, 2px -1px 1px #bc2f66, 1px 1px 1px #bc2f66, 2px 1px 1px #bc2f66, 1px 2px 1px #bc2f66, 2px 2px 1px #bc2f66, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px, #bc2f66 1px 1px 10px;
}
#endingImg {
    width: 300px;
}
@keyframes fadeIn {
	0% {
        opacity: 0;
    }
	45% {
        opacity: 1;
    }
	100% {
		opacity: 100%;
	}
}